html, body {
	padding: 0;
	margin: 0;
	font-family: 'Roboto', sans-serif;
	text-rendering: optimizeLegibility;
}

#header .main {
	width: 100%;
	height: 100%;
	background: linear-gradient(rgba(51, 0, 128, 0.8), rgba(51, 0, 128, 0.3)), url('background.jpg') no-repeat center center fixed; 
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	text-align: center;
}


/*#header .main #tint {
	z-index: -2;
	background-color: rgba(51, 0, 128, 0.8);
}
*/
#header .main h1 {
	padding: 0;
	margin: 0;
	text-align: center;
	font-size: 100px;
	font-weight: 200;
	color: white;
}

#header .main h2 {
	padding: 0;
	margin: 0;
	text-align: center;
	font-size: 54px;
	font-weight: 600;
	color: white;
}

#header .main h3 {
	padding: 0;
	margin: 0;
	font-size: 26px;
	font-weight: 200;
	color: white;
	font-style: italic;
}

#header .main #desc {
	width: 100%;
	text-align: center;
	/*position: absolute;*/
	padding-top: 60px;
}

#header .main #contents {
	position:absolute;
	/*display:inline-block;*/
	border: 3px solid white;
	/*overflow: auto;*/
	padding: 30px 20px 30px 20px;
	width: 850px;
	height: 200px;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	margin: auto;
}